
section{
	/*border:goldenrod solid 1px;*/ 
	padding:1em; margin:0;
	display:flex;
	justify-content: center;
	min-height:100vh;
	color:white;
}
.row, .col{
	margin:0; padding:0;
	display: flex;
	justify-content: center;
}
.row{flex-direction:row; width:100%;}
.col{flex-direction: column;b}
.heading{
	align-self: flex-start;
	font-size:3em;
}
ul, li{
	margin: 0; list-style:none; padding:0;
}

#concept .image-container {
	flex:1 1 auto;
}
#concept .steps {
	flex:3 1 auto;
}
#team .team-members ul {
	flex:3 1 auto;
}

#contact ul, #team ul {
	text-align:center;
}